server:
  port: 8080

spring:
  application:
    name: microsservico-agendamento-especialidades
  
  datasource:
    url: jdbc:postgresql://localhost:5432/sus_agendamento
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: agendamento-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

logging:
  level:
    com.sus.agendamento: DEBUG
