/shelf/
/workspace.xml

/queries/

/dataSources/
/dataSources.local.xml

/httpRequests/

target/
*.class
*.log
.mvn/
mvnw
mvnw.cmd

.idea/
*.iml
.vscode/
*.code-workspace

*.jar
*.war
*.ear
.DS_Store
Thumbs.db